<html>
<body class ="moti">
    <br><br>

    <form>
        <div>
            <div class ="login">
            <h1>USER LOGIN</h1><br>
            <input type= "text"  placeholder="username" value=""  required><br>
           <input type= "password"  placeholder="password" value=""  required><br>
       <button class="btton"(click)="login()">LOGIN</button><br>
            <a href="#" class="forgot"><b>forgot your pasword?</b></a><br>
            <a href="#" class="forgot"><b>click here</b></a>
        </div>
    </div>

        
 
        <div>
        <p> term & condition</p>
        <p></p>
        <br></div>

        </form>
    </body>
    </html>
